.expandable-container {
    cursor: pointer;
    transition: height 0.5s ease;
}

@media (prefers-reduced-motion) {
    .expandable-container {
        transition: none;
    }
}

.expandable-container.collapsed {
    min-height: 11rem;
    height: 11rem;

}

.expandable-container.expanded {
    min-height: 20rem;
    height: 20rem;
    overflow: hidden;
}

article {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

article .content {
    display: flex;
    flex-wrap: wrap;
    width: 65ch;
    font-size: 1.25rem;
    margin-top: 1rem;
}

article h1 {
    height: fit-content;
    margin: auto 0;
    margin-left: 2rem;
}

article p {
    flex-basis: 100%;
}

article .icon-container {
    display: inline-flex;
    height: 3rem;
    padding: 1rem;
    background-color: var(--text-1);
    border-radius: 1rem;
}

article .icon-container img {
    height: 100%;
}

article>.content>img {
    width: 100%;
    /* to set the height of the screenshot before it loads based on its 100% width */
    aspect-ratio: 1920/953;
}

.technologies {
    display: flex;
    gap: 1rem;
}

article .handle {
    height: .5rem;
    margin: 0 auto;
    width: 20rem;
    border-radius: 1rem;
    background-color: var(--text-2);
}