.gallery-grid {
    --width: 75vw;
    --height: 173vh;
    --divisions: 48;
    --gap: 0.5rem;

    display: grid;
    margin: 8rem 0;

    grid-template-columns: repeat(var(--divisions), calc((var(--width) - (var(--divisions) - 1) * var(--gap)) / var(--divisions)));
    grid-template-rows: repeat(var(--divisions), calc((var(--height) - (var(--divisions) - 1) * var(--gap)) / var(--divisions)));
    grid-auto-flow: dense;
    gap: var(--gap);
    width: var(--width);
    --blur: 0.75rem;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.image-container>img {
    object-fit: contain;
}

.gallery-grid:hover>.image-container {
    transition: opacity 0.2s ease-out;
    opacity: 0.3;
}

.gallery-grid:hover>.image-container>img {
    filter: grayscale(100%);
}

.gallery-grid:hover>.image-container>img.nsfw {
    filter: grayscale(100%) blur(var(--blur));
}

.gallery-grid>.image-container>.nsfw-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}

.gallery-grid>.image-container>img {
    transition: filter 0.2s ease-out;
    box-shadow: 0 0 2px var(--text-1);
}

.gallery-grid>.image-container:hover {
    opacity: 1;
}

/* the following wacky :has() selectors are needed for styling the filter when hovering the nsfw button */

.gallery-grid>.image-container:has(button:hover)>img,
.gallery-grid>.image-container>img:hover {
    filter: initial;
}

.gallery-grid>.image-container:has(button:hover)>img.nsfw,
.gallery-grid>.image-container>img.nsfw:hover,
.gallery-grid>.image-container>img.nsfw {
    filter: blur(var(--blur));
}

.gallery-grid .image-container:has(img.coverart) {
    grid-column: span 12;
    grid-row: span 12;
}

.gallery-grid .image-container .coverart {
    object-fit: cover;
}

.gallery-grid .image-container:has(img.thumbnail) {
    grid-column: span 12;
    grid-row: span 6;
}

.gallery-grid .image-container:has(img.banner) {
    grid-column: span 36;
    grid-row: span 6;
}

.gallery-grid .image-container:has(img.smallbanner) {
    grid-column: span 24;
    grid-row: span 6;
}

.image-viewer {
    background-color: transparent;
}

.image-viewer:focus {
    border-color: var(--text-1);
}

::backdrop {
    background-color: var(--bg-1);
    opacity: 0.75;
}

.image-viewer>.selected-image {
    max-width: 95vw;
    max-height: 70vh;
}