button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
}

.form-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--border-radius-1);
}

.form-success>p {
    margin: 0;
    text-align: center;
}

.form {
    display: grid;
    flex: 1;
    row-gap: 1.5rem;
    border-radius: var(--border-radius-1);
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.input:hover {
    cursor: text;
}

.label {
    color: var(--text-1);
    font-weight: 500;
}

.description {
    color: var(--text-2);
    font-size: 1rem;
    line-height: 0;
}

.button-group {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.5rem;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 2rem;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: var(--border-radius-3);
}

.button:hover,
.button:focus-visible {
    background-color: var(--button-fg);
}

.input,
.select {
    appearance: none;
    border-width: 0;
    color: var(--text-3);
    height: 3rem;
    line-height: 1.5rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--bg-2);
    box-shadow: var(--text-3) 0 0 0 1px;
    font-size: 1.125rem;
    border-radius: var(--border-radius-3);
}

.input:focus-visible,
.select:focus-visible {
    box-shadow: var(--accent) 0 0 0 1px;
}

.input::placeholder {
    color: var(--text-3);
}

.select {
    background-color: var(--bg-2);
    padding-right: 2.875rem;
}

.textarea {
    appearance: none;
    border-width: 0;
    box-shadow: var(--text-3) 0 0 0 1px;
    color: var(--text-3);
    line-height: 1.5rem;
    outline: none;
    padding: 0.5rem 0.75rem;
    resize: none;
    background-color: var(--bg-2);
    border-radius: var(--border-radius-3);
    font-size: 1.125rem;
}

.textarea:focus-visible {
    box-shadow: var(--accent) 0 0 0 1px;
}

.textarea::placeholder {
    color: var(--fg-2);
}