.theme-toggle {
    display: flex;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.theme-toggle:hover {
    cursor: pointer;
    background-color: var(--bg-2);
}

.theme-toggle img {
    height: 2rem;
    opacity: 90%;
}

.theme-toggle img.light {
    filter: invert();
}