header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 4rem;
  background-color: var(--bg-2);
  background-image: var(--bg-2-texture);
  -webkit-user-select: none;
  user-select: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.toggles-container {
  display: flex;
  gap: 2rem;
}

nav {
  display: flex;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

nav ul {
  display: flex;
  align-self: end;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3.25rem;
}

nav ul li {
  border-radius: 1rem 1rem 0 0;
  background-color: unset;
}

nav ul li:has(a.active) {
  background-color: var(--bg-1);
}

nav ul li a {
  display: flex;
  flex-direction: column;
  color: unset;
  text-decoration: none;
  padding: 1rem;
  gap: 0.2rem;
}

nav ul li:has(a:hover) {
  background-color: var(--bg-2);
}

nav ul li a.active .light-bar {
  width: 100%;
  height: 0.25rem;
  background-color: var(--accent);
  box-shadow: 0 0 .125rem .125rem var(--primary);
  border-radius: 1rem;
}