.timeline {
    --vertical-padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timeline-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: var(--vertical-padding) 0;
    margin: 0;
    z-index: 1;
}

.timeline li {
    list-style: none;
    text-align: center;
}

.timeline-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.timeline-item.right {
    flex-direction: row-reverse;
}

.timeline-item-content {
    flex: 5;
    outline: 0.1rem solid var(--text-1);
}

.timeline-item-content p {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0;
}

.timeline-item-content-arrow {
    flex: 1;
    height: 0.1rem;
    background-color: var(--text-2);
    width: 2rem;
}

.timeline-item-point {
    width: fit-content;
}

.timeline-item-point-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background: var(--bg-1);
    border: 0.325rem solid var(--accent);
}

.timeline-item-point-inner-circle {
    width: 0.325rem;
    height: 0.325rem;
    border-radius: 100%;
    background: var(--bg-1);
}

.timeline-item-empty-arrow {
    flex: 1;
}

.timeline-item-empty {
    flex: 5;
}

.timeline-year {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    background-color: var(--bg-1);
    background-image: var(--bg-1-texture);
    border-bottom: solid var(--accent) 0.325rem;
    width: 25%;
    padding: 0.5rem
}

.timeline-line {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: .50rem;
    height: 100%;
    top: 0;
}

.timeline-line-start {
    background: linear-gradient(to bottom, var(--bg-1), var(--accent));
    height: var(--vertical-padding);
}


.timeline-line-middle {
    background: var(--accent);
    flex: 1;
}

.timeline-line-end {
    background: linear-gradient(to top, var(--bg-1), var(--accent));
    height: var(--vertical-padding);
}