.scroll-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    height: 6rem;
    font-size: 1.50rem;
    color: var(--fg-2);
    gap: 0.5rem;
    transition: color 0.3s ease;
    -webkit-user-select: none;
    user-select: none;
}

.scroll-hint svg {
    animation: bob 0.75s ease-in-out infinite;
}

.scroll-hint:hover {
    color: var(--fg-3);
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.325rem);
    }

    100% {
        transform: translateY(0);
    }

}