.theme-toggle {
    display: flex;
    color: var(--text-1);
    font-size: 2rem;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.theme-toggle:hover {
    cursor: pointer;
    background-color: var(--fg-1);
}