.language-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-1);
    border-radius: var(--border-radius-2);
    padding: 0.5rem;
    width: 132px;
    gap: 0.5rem;
    color: var(--text-1);
    font-family: "Montserrat", sans-serif;
}

.language-toggle:hover {
    background-color: var(--fg-1);
    cursor: pointer;
}

.language-toggle:hover> :not(.flags-selector) {
    background-color: var(--fg-1);
}

.flags-selector {
    display: flex;
}

.language-toggle .flags-selector img {
    cursor: pointer;
    height: 2rem;
    opacity: 0.8;
    filter: grayscale();
    transition: filter 0.2s, opacity 0.2s;
}

.language-toggle .flags-selector img.active {
    opacity: 1;
    filter: unset;
}

.shake {
    animation: shaker 0.2s ease-in-out infinite;
}

@keyframes shaker {
    0% {
        transform: translate(2px, 0);
    }

    33% {
        transform: translate(-2px, 0);
    }

    66% {
        transform: translate(2px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.language-toggle .flags-selector img:hover {
    filter: brightness(110%) contrast(110%);
}

.language-toggle .flags-selector img:hover:not(.active) {
    filter: grayscale();
    opacity: 1;
}